.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
}
.login {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    padding: 40px;
    width: 400px;
    height: 370px;
    background-color: #b3b3b3; 
    border-radius: 40px;
    margin: 10px;
    line-height: 1.5;
    transition: box-shadow 0.3s ease-out;
}

.login-box:hover {
    box-shadow: 0 0px 10px 5px #535353;
    transition: box-shadow 0.3s ease;

}
